<!DOCTYPE html>
<html lang="zh-cmn-Hans" class="ua-mac ua-webkit">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="renderer" content="webkit">
    <meta name="referrer" content="always">
    <meta name="google-site-verification" content="ok0wCgT20tBBgo9_zat2iAcimtN4Ftf5ccsh092Xeyw" />
    <title>后来的我们 短评</title>
    
    <meta name="baidu-site-verification" content="cZdR4xxR7RxmM4zE" />
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Expires" content="Sun, 6 Mar 2005 01:00:00 GMT">
    
    <meta name="keywords" content="后来的我们,影讯,排片,放映时间,电影票价,在线购票"/>
    <meta name="description" content="后来的我们短评" />
    <meta name="mobile-agent" content="format=html5; url=http://m.douban.com/movie/subject/26683723/comments"/>
    <script type="text/javascript" src="https://img3.doubanio.com/f/shire/77323ae72a612bba8b65f845491513ff3329b1bb/js/do.js" data-cfg-autoload="false"></script>

    <link rel="apple-touch-icon" href="https://img3.doubanio.com/f/movie/d59b2715fdea4968a450ee5f6c95c7d7a2030065/pics/movie/apple-touch-icon.png">
    <link href="https://img3.doubanio.com/f/shire/52c9997d6d42db58eab418e976a14d5f3eff981e/css/douban.css" rel="stylesheet" type="text/css">
    <link href="https://img3.doubanio.com/f/shire/ae3f5a3e3085968370b1fc63afcecb22d3284848/css/separation/_all.css" rel="stylesheet" type="text/css">
    <link href="https://img3.doubanio.com/f/movie/8864d3756094f5272d3c93e30ee2e324665855b0/css/movie/base/init.css" rel="stylesheet">
    <script type="text/javascript">var _head_start = new Date();</script>
    <script type="text/javascript" src="https://img3.doubanio.com/f/movie/0495cb173e298c28593766009c7b0a953246c5b5/js/movie/lib/jquery.js"></script>
    <script type="text/javascript" src="https://img3.doubanio.com/f/shire/1316664523258f7b8b536e4ce45afc9cb37b8963/js/douban.js"></script>
    <script type="text/javascript" src="https://img3.doubanio.com/f/shire/0efdc63b77f895eaf85281fb0e44d435c6239a3f/js/separation/_all.js"></script>
    
    <style type="text/css"></style>
    <style type="text/css">img { max-width: 100%; }</style>
    <script type="text/javascript"></script>
    <link rel="stylesheet" href="https://img3.doubanio.com/misc/mixed_static/75d6cdb3e7bdc790.css">

    <link rel="shortcut icon" href="https://img3.doubanio.com/favicon.ico" type="image/x-icon">
</head>

<body>
  
    <script type="text/javascript">var _body_start = new Date();</script>

    
    



    <link href="//img3.doubanio.com/dae/accounts/resources/4bf727f/shire/bundle.css" rel="stylesheet" type="text/css">



<div id="db-global-nav" class="global-nav">
  <div class="bd">
    
<div class="top-nav-info">
  <ul>
    <li>
    <a id="top-nav-doumail-link" href="https://www.douban.com/doumail/">豆邮</a>
    </li>
    <li class="nav-user-account">
      <a target="_blank" href="https://accounts.douban.com/passport/setting/" class="bn-more">
        <span>C_my的帐号</span><span class="arrow"></span>
      </a>
      <div class="more-items">
        <table cellpadding="0" cellspacing="0">
          <tbody>
            <tr>
              <td>
                <a href="https://www.douban.com/mine/">个人主页</a>
              </td>
            </tr>
            <tr>
              <td>
                <a target="_blank" href="https://www.douban.com/mine/orders/">我的订单</a>
              </td>
            </tr>
            <tr>
              <td>
                <a target="_blank" href="https://www.douban.com/mine/wallet/">我的钱包</a>
              </td>
            </tr>
            <tr>
              <td>
                <a target="_blank" href="https://accounts.douban.com/passport/setting/">帐号管理</a>
              </td>
            </tr>
            <tr>
              <td>
                <a href="https://www.douban.com/accounts/logout?source=movie&ck=SBbK">退出</a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </li>
  </ul>
</div>

  <div class="top-nav-reminder">
    <a href="https://www.douban.com/notification/" class="lnk-remind">提醒</a>
    <div id="top-nav-notimenu" class="more-items">
      <div class="bd">
        <p>加载中...</p>
      </div>
    </div>
  </div>

    <div class="top-nav-doubanapp">
  <a href="https://www.douban.com/doubanapp/app?channel=top-nav" class="lnk-doubanapp">下载豆瓣客户端</a>
  <div id="doubanapp-tip">
    <a href="https://www.douban.com/doubanapp/app?channel=qipao" class="tip-link">豆瓣 <span class="version">6.0</span> 全新发布</a>
    <a href="javascript: void 0;" class="tip-close">×</a>
  </div>
  <div id="top-nav-appintro" class="more-items">
    <p class="appintro-title">豆瓣</p>
    <p class="qrcode">扫码直接下载</p>
    <div class="download">
      <a href="https://www.douban.com/doubanapp/redirect?channel=top-nav&direct_dl=1&download=iOS">iPhone</a>
      <span>·</span>
      <a href="https://www.douban.com/doubanapp/redirect?channel=top-nav&direct_dl=1&download=Android" class="download-android">Android</a>
    </div>
  </div>
</div>

    


<div class="global-nav-items">
  <ul>
    <li class="">
      <a href="https://www.douban.com" target="_blank" data-moreurl-dict="{&quot;from&quot;:&quot;top-nav-click-main&quot;,&quot;uid&quot;:&quot;191266139&quot;}">豆瓣</a>
    </li>
    <li class="">
      <a href="https://book.douban.com" target="_blank" data-moreurl-dict="{&quot;from&quot;:&quot;top-nav-click-book&quot;,&quot;uid&quot;:&quot;191266139&quot;}">读书</a>
    </li>
    <li class="on">
      <a href="https://movie.douban.com"  data-moreurl-dict="{&quot;from&quot;:&quot;top-nav-click-movie&quot;,&quot;uid&quot;:&quot;191266139&quot;}">电影</a>
    </li>
    <li class="">
      <a href="https://music.douban.com" target="_blank" data-moreurl-dict="{&quot;from&quot;:&quot;top-nav-click-music&quot;,&quot;uid&quot;:&quot;191266139&quot;}">音乐</a>
    </li>
    <li class="">
      <a href="https://www.douban.com/location" target="_blank" data-moreurl-dict="{&quot;from&quot;:&quot;top-nav-click-location&quot;,&quot;uid&quot;:&quot;191266139&quot;}">同城</a>
    </li>
    <li class="">
      <a href="https://www.douban.com/group" target="_blank" data-moreurl-dict="{&quot;from&quot;:&quot;top-nav-click-group&quot;,&quot;uid&quot;:&quot;191266139&quot;}">小组</a>
    </li>
    <li class="">
      <a href="https://read.douban.com&#47;?dcs=top-nav&amp;dcm=douban" target="_blank" data-moreurl-dict="{&quot;from&quot;:&quot;top-nav-click-read&quot;,&quot;uid&quot;:&quot;191266139&quot;}">阅读</a>
    </li>
    <li class="">
      <a href="https://douban.fm&#47;?from_=shire_top_nav" target="_blank" data-moreurl-dict="{&quot;from&quot;:&quot;top-nav-click-fm&quot;,&quot;uid&quot;:&quot;191266139&quot;}">FM</a>
    </li>
    <li class="">
      <a href="https://time.douban.com&#47;?dt_time_source=douban-web_top_nav" target="_blank" data-moreurl-dict="{&quot;from&quot;:&quot;top-nav-click-time&quot;,&quot;uid&quot;:&quot;191266139&quot;}">时间</a>
    </li>
    <li class="">
      <a href="https://market.douban.com&#47;?utm_campaign=douban_top_nav&amp;utm_source=douban&amp;utm_medium=pc_web" target="_blank" data-moreurl-dict="{&quot;from&quot;:&quot;top-nav-click-market&quot;,&quot;uid&quot;:&quot;191266139&quot;}">豆品</a>
    </li>
    <li>
      <a href="#more" class="bn-more"><span>更多</span></a>
      <div class="more-items">
        <table cellpadding="0" cellspacing="0">
          <tbody>
            <tr>
              <td>
                <a href="https://ypy.douban.com" target="_blank" data-moreurl-dict="{&quot;from&quot;:&quot;top-nav-click-ypy&quot;,&quot;uid&quot;:&quot;191266139&quot;}">豆瓣摄影</a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </li>
  </ul>
</div>

  </div>
</div>
<script>
  ;window._GLOBAL_NAV = {
    USER_ID: "191266139",
    UPLOAD_AUTH_TOKEN: "191266139:722319e4afc8850864e3bf419fc82355e4e10933",
    SSE_TOKEN: "e559872822563af61e2119071ea17a4858f8d058",
    SSE_TIMESTAMP: "1558964028",
    DOUBAN_URL: "https://www.douban.com",
    N_NEW_NOTIS: 0,
    N_NEW_DOUMAIL: 0
  };
</script>



    <script src="//img3.doubanio.com/dae/accounts/resources/4bf727f/shire/bundle.js" defer="defer"></script>




    



    <link href="//img3.doubanio.com/dae/accounts/resources/4bf727f/movie/bundle.css" rel="stylesheet" type="text/css">




<div id="db-nav-movie" class="nav">
  <div class="nav-wrap">
  <div class="nav-primary">
    <div class="nav-logo">
      <a href="https:&#47;&#47;movie.douban.com">豆瓣电影</a>
    </div>
    <div class="nav-search">
      <form action="https:&#47;&#47;movie.douban.com/subject_search" method="get">
        <fieldset>
          <legend>搜索：</legend>
          <label for="inp-query">
          </label>
          <div class="inp"><input id="inp-query" name="search_text" size="22" maxlength="60" placeholder="搜索电影、电视剧、综艺、影人" value=""></div>
          <div class="inp-btn"><input type="submit" value="搜索"></div>
          <input type="hidden" name="cat" value="1002" />
        </fieldset>
      </form>
    </div>
  </div>
  </div>
  <div class="nav-secondary">
    

<div class="nav-items">
  <ul>
    <li    ><a href="https://movie.douban.com/mine"
     >我看</a>
    </li>
    <li    ><a href="https://movie.douban.com/cinema/nowplaying/"
     >影讯&购票</a>
    </li>
    <li    ><a href="https://movie.douban.com/explore"
     >选电影</a>
    </li>
    <li    ><a href="https://movie.douban.com/tv/"
     >电视剧</a>
    </li>
    <li    ><a href="https://movie.douban.com/chart"
     >排行榜</a>
    </li>
    <li    ><a href="https://movie.douban.com/tag/"
     >分类</a>
    </li>
    <li    ><a href="https://movie.douban.com/review/best/"
     >影评</a>
    </li>
    <li    ><a href="https://movie.douban.com/annual/2018?source=navigation"
     >2018年度榜单</a>
    </li>
    <li    ><a href="https://www.douban.com/standbyme/2018?source=navigation"
     >2018书影音报告</a>
    </li>
  </ul>
</div>

    <a href="https://movie.douban.com/annual/2018?source=movie_navigation" class="movieannual2018"></a>
  </div>
</div>

<script id="suggResult" type="text/x-jquery-tmpl">
  <li data-link="{{= url}}">
            <a href="{{= url}}" onclick="moreurl(this, {from:'movie_search_sugg', query:'{{= keyword }}', subject_id:'{{= id}}', i: '{{= index}}', type: '{{= type}}'})">
            <img src="{{= img}}" width="40" />
            <p>
                <em>{{= title}}</em>
                {{if year}}
                    <span>{{= year}}</span>
                {{/if}}
                {{if sub_title}}
                    <br /><span>{{= sub_title}}</span>
                {{/if}}
                {{if address}}
                    <br /><span>{{= address}}</span>
                {{/if}}
                {{if episode}}
                    {{if episode=="unknow"}}
                        <br /><span>集数未知</span>
                    {{else}}
                        <br /><span>共{{= episode}}集</span>
                    {{/if}}
                {{/if}}
            </p>
        </a>
        </li>
  </script>




    <script src="//img3.doubanio.com/dae/accounts/resources/4bf727f/movie/bundle.js" defer="defer"></script>





    
    <div id="wrapper">
        

        
    <div id="content">
        
    <h1>后来的我们 短评</h1>

        <div class="grid-16-8 clearfix">
            
            
            <div class="article">
                
    



<div class="clearfix Comments-hd">
    <ul class="fleft CommentTabs">
            <li class="is-active">
                <span>看过(100383)</span>
            </li>

            <li>
                <a href="?status=F">想看(2356)</a>
            </li>
    </ul>
    <div class="fright">
        
        <a href="javascript:;" class="comment_btn j a_collect_btn" name="cbtn-26683723">我来写短评</a>
    </div>
</div>

    
    <div class="title_line clearfix color_gray">
        <div class="fleft Comments-sortby">
                <span>热门</span>
                <a href="?sort=time&status=P">最新</a>
            <a href="follows_comments?status=P">好友</a>
        </div>
    </div>

    <div class="comment-filter">
        <label>
            <input type="radio" name="sort" value=""  checked="checked"><span class="filter-name">全部</span><span class="comment-percent"></span>
        </label>
        <label>
            <input type="radio" name="sort" value="h" ><span class="filter-name">好评</span><span class="comment-percent">27%</span>
        </label>
        <label>
            <input type="radio" name="sort" value="m" ><span class="filter-name">一般</span><span class="comment-percent">34%</span>
        </label>
        <label>
            <input type="radio" name="sort" value="l" ><span class="filter-name">差评</span><span class="comment-percent">39%</span>
        </label>
    </div>

    <div class="mod-bd" id="comments">
        







    
        
        <div class="comment-item" data-cid="1364782790">
            
    
        <div class="avatar">
            <a title="樹" href="https://www.douban.com/people/58856070/">
                <img src="https://img1.doubanio.com/icon/u58856070-147.jpg" class="" />
            </a>
        </div>
    <div class="comment">
        <h3>
            <span class="comment-vote">
                <span class="votes">124</span>
                <input value="1364782790" type="hidden"/>
                <a href="javascript:;" class="j a_vote_comment" onclick="">有用</a>
            </span>
            <span class="comment-info">
                <a href="https://www.douban.com/people/58856070/" class="">樹</a>
                    <span>看过</span>
                    <span class="allstar30 rating" title="还行"></span>
                <span class="comment-time " title="2018-04-27 19:12:59">
                    2018-04-27
                </span>
            </span>
        </h3>
        <p class="">
            
                <span class="short">刘若英一心想拍一部中国版的《一天》，借用《春光》的房间色调，从人设到主题的设定，甚至直接套用《一天》的电影配乐，复调式叙事片段让后半部分剧情很幼稚，像个大型mv，（我几乎完全无法进入剧情）坐在我身边的少年低头哭了。</span>
        </p>
    </div>

        </div>
        
        <div class="comment-item" data-cid="1259364301">
            
    
        <div class="avatar">
            <a title="不良生" href="https://www.douban.com/people/angle223/">
                <img src="https://img1.doubanio.com/icon/u2065435-38.jpg" class="" />
            </a>
        </div>
    <div class="comment">
        <h3>
            <span class="comment-vote">
                <span class="votes">80</span>
                <input value="1259364301" type="hidden"/>
                <a href="javascript:;" class="j a_vote_comment" onclick="">有用</a>
            </span>
            <span class="comment-info">
                <a href="https://www.douban.com/people/angle223/" class="">不良生</a>
                    <span>看过</span>
                    <span class="allstar30 rating" title="还行"></span>
                <span class="comment-time " title="2018-04-28 16:00:05">
                    2018-04-28
                </span>
            </span>
        </h3>
        <p class="">
            
                <span class="short">后来他们大抵各自去过很多地方，遇见过很多人，看过很多风景，吃过很多美食。——但，统统都没有初时挤在蹩脚小租屋里的最后那一锅煮面更好吃了。</span>
        </p>
    </div>

        </div>
        
        <div class="comment-item" data-cid="1365553736">
            
    
        <div class="avatar">
            <a title="叶枕" href="https://www.douban.com/people/DanP/">
                <img src="https://img1.doubanio.com/icon/u46959346-77.jpg" class="" />
            </a>
        </div>
    <div class="comment">
        <h3>
            <span class="comment-vote">
                <span class="votes">181</span>
                <input value="1365553736" type="hidden"/>
                <a href="javascript:;" class="j a_vote_comment" onclick="">有用</a>
            </span>
            <span class="comment-info">
                <a href="https://www.douban.com/people/DanP/" class="">叶枕</a>
                    <span>看过</span>
                    <span class="allstar20 rating" title="较差"></span>
                <span class="comment-time " title="2018-04-29 11:15:52">
                    2018-04-29
                </span>
            </span>
        </h3>
        <p class="">
            
                <span class="short">还不如郭敬明的小时代。“我觉得你是我见过最特别的女孩，你会打牌，会喝酒还会骂人。”——长鸡巴的大屌萌妹了解一下，更特别的女孩。</span>
        </p>
    </div>

        </div>
        
        <div class="comment-item" data-cid="1365099347">
            
    
        <div class="avatar">
            <a title="膨化月亮" href="https://www.douban.com/people/151897178/">
                <img src="https://img3.doubanio.com/icon/u151897178-10.jpg" class="" />
            </a>
        </div>
    <div class="comment">
        <h3>
            <span class="comment-vote">
                <span class="votes">123</span>
                <input value="1365099347" type="hidden"/>
                <a href="javascript:;" class="j a_vote_comment" onclick="">有用</a>
            </span>
            <span class="comment-info">
                <a href="https://www.douban.com/people/151897178/" class="">膨化月亮</a>
                    <span>看过</span>
                    <span class="allstar40 rating" title="推荐"></span>
                <span class="comment-time " title="2018-04-28 13:06:22">
                    2018-04-28
                </span>
            </span>
        </h3>
        <p class="">
            
                <span class="short">能够不负对方就已经很好了，不负这一生太难了。</span>
        </p>
    </div>

        </div>
        
        <div class="comment-item" data-cid="1365099266">
            
    
        <div class="avatar">
            <a title="huilin0815" href="https://www.douban.com/people/166071143/">
                <img src="https://img3.doubanio.com/icon/u166071143-13.jpg" class="" />
            </a>
        </div>
    <div class="comment">
        <h3>
            <span class="comment-vote">
                <span class="votes">101</span>
                <input value="1365099266" type="hidden"/>
                <a href="javascript:;" class="j a_vote_comment" onclick="">有用</a>
            </span>
            <span class="comment-info">
                <a href="https://www.douban.com/people/166071143/" class="">huilin0815</a>
                    <span>看过</span>
                    <span class="allstar40 rating" title="推荐"></span>
                <span class="comment-time " title="2018-04-28 13:06:09">
                    2018-04-28
                </span>
            </span>
        </h3>
        <p class="">
            
                <span class="short">虽然评分低 但我要给四分 我看懂了这部电影 </span>
        </p>
    </div>

        </div>
        
        <div class="comment-item" data-cid="1364685647">
            
    
        <div class="avatar">
            <a title="瓜-茜-茜" href="https://www.douban.com/people/162193980/">
                <img src="https://img3.doubanio.com/icon/u162193980-4.jpg" class="" />
            </a>
        </div>
    <div class="comment">
        <h3>
            <span class="comment-vote">
                <span class="votes">374</span>
                <input value="1364685647" type="hidden"/>
                <a href="javascript:;" class="j a_vote_comment" onclick="">有用</a>
            </span>
            <span class="comment-info">
                <a href="https://www.douban.com/people/162193980/" class="">瓜-茜-茜</a>
                    <span>看过</span>
                    <span class="allstar20 rating" title="较差"></span>
                <span class="comment-time " title="2018-04-27 14:51:37">
                    2018-04-27
                </span>
            </span>
        </h3>
        <p class="">
            
                <span class="short">电影和人生都以余味定输赢</span>
        </p>
    </div>

        </div>
        
        <div class="comment-item" data-cid="1365245874">
            
    
        <div class="avatar">
            <a title="纤纤" href="https://www.douban.com/people/158629236/">
                <img src="https://img3.doubanio.com/icon/u158629236-1.jpg" class="" />
            </a>
        </div>
    <div class="comment">
        <h3>
            <span class="comment-vote">
                <span class="votes">245</span>
                <input value="1365245874" type="hidden"/>
                <a href="javascript:;" class="j a_vote_comment" onclick="">有用</a>
            </span>
            <span class="comment-info">
                <a href="https://www.douban.com/people/158629236/" class="">纤纤</a>
                    <span>看过</span>
                    <span class="allstar20 rating" title="较差"></span>
                <span class="comment-time " title="2018-04-28 18:59:34">
                    2018-04-28
                </span>
            </span>
        </h3>
        <p class="">
            
                <span class="short">提前营销的有点过，扣一星，青春主题不要过多营销情怀，虽然人人都会经历，但是难以找到共鸣不会给电影加分的，还是好好加强故事性吧，演员表现不功不过。</span>
        </p>
    </div>

        </div>
        
        <div class="comment-item" data-cid="1364984840">
            
    
        <div class="avatar">
            <a title="_______喂丶" href="https://www.douban.com/people/171244815/">
                <img src="https://img3.doubanio.com/icon/u171244815-1.jpg" class="" />
            </a>
        </div>
    <div class="comment">
        <h3>
            <span class="comment-vote">
                <span class="votes">3153</span>
                <input value="1364984840" type="hidden"/>
                <a href="javascript:;" class="j a_vote_comment" onclick="">有用</a>
            </span>
            <span class="comment-info">
                <a href="https://www.douban.com/people/171244815/" class="">_______喂丶</a>
                    <span>看过</span>
                    <span class="allstar10 rating" title="很差"></span>
                <span class="comment-time " title="2018-04-28 06:39:14">
                    2018-04-28
                </span>
            </span>
        </h3>
        <p class="">
            
                <span class="short">恋爱、分手、错过、重逢的故事，国产特色……</span>
        </p>
    </div>

        </div>
        
        <div class="comment-item" data-cid="1368588908">
            
    
        <div class="avatar">
            <a title="马达" href="https://www.douban.com/people/mr.lefty/">
                <img src="https://img3.doubanio.com/icon/u3652176-180.jpg" class="" />
            </a>
        </div>
    <div class="comment">
        <h3>
            <span class="comment-vote">
                <span class="votes">28</span>
                <input value="1368588908" type="hidden"/>
                <a href="javascript:;" class="j a_vote_comment" onclick="">有用</a>
            </span>
            <span class="comment-info">
                <a href="https://www.douban.com/people/mr.lefty/" class="">马达</a>
                    <span>看过</span>
                    <span class="allstar40 rating" title="推荐"></span>
                <span class="comment-time " title="2018-05-05 00:40:36">
                    2018-05-05
                </span>
            </span>
        </h3>
        <p class="">
            
                <span class="short">不懂如何去爱的年龄，遇到了一个爱的人</span>
        </p>
    </div>

        </div>
        
        <div class="comment-item" data-cid="1367941459">
            
    
        <div class="avatar">
            <a title="Mona Lishark" href="https://www.douban.com/people/run11run/">
                <img src="https://img3.doubanio.com/icon/u1998052-303.jpg" class="" />
            </a>
        </div>
    <div class="comment">
        <h3>
            <span class="comment-vote">
                <span class="votes">43</span>
                <input value="1367941459" type="hidden"/>
                <a href="javascript:;" class="j a_vote_comment" onclick="">有用</a>
            </span>
            <span class="comment-info">
                <a href="https://www.douban.com/people/run11run/" class="">Mona Lishark</a>
                    <span>看过</span>
                <span class="comment-time " title="2018-05-03 18:47:36">
                    2018-05-03
                </span>
            </span>
        </h3>
        <p class="">
            
                <span class="short">电影结尾彩蛋里举着牌子悼念前任的那些路人，是「后来」都没有找到对象吗？还是压根不管现任想什么？</span>
        </p>
    </div>

        </div>
        
        <div class="comment-item" data-cid="1364993131">
            
    
        <div class="avatar">
            <a title="好青年bobo" href="https://www.douban.com/people/151821993/">
                <img src="https://img3.doubanio.com/icon/u151821993-3.jpg" class="" />
            </a>
        </div>
    <div class="comment">
        <h3>
            <span class="comment-vote">
                <span class="votes">2594</span>
                <input value="1364993131" type="hidden"/>
                <a href="javascript:;" class="j a_vote_comment" onclick="">有用</a>
            </span>
            <span class="comment-info">
                <a href="https://www.douban.com/people/151821993/" class="">好青年bobo</a>
                    <span>看过</span>
                    <span class="allstar10 rating" title="很差"></span>
                <span class="comment-time " title="2018-04-28 07:52:10">
                    2018-04-28
                </span>
            </span>
        </h3>
        <p class="">
            
                <span class="short">演员还是有好感的，但是真的很做作很矫情啊</span>
        </p>
    </div>

        </div>
        
        <div class="comment-item" data-cid="1365051654">
            
    
        <div class="avatar">
            <a title="刘三姐不好死" href="https://www.douban.com/people/169898596/">
                <img src="https://img3.doubanio.com/icon/u169898596-5.jpg" class="" />
            </a>
        </div>
    <div class="comment">
        <h3>
            <span class="comment-vote">
                <span class="votes">2346</span>
                <input value="1365051654" type="hidden"/>
                <a href="javascript:;" class="j a_vote_comment" onclick="">有用</a>
            </span>
            <span class="comment-info">
                <a href="https://www.douban.com/people/169898596/" class="">刘三姐不好死</a>
                    <span>看过</span>
                    <span class="allstar10 rating" title="很差"></span>
                <span class="comment-time " title="2018-04-28 10:59:30">
                    2018-04-28
                </span>
            </span>
        </h3>
        <p class="">
            
                <span class="short">拍得太差了 一分都不想给 比PPT还难看  还是去看小时代把</span>
        </p>
    </div>

        </div>
        
        <div class="comment-item" data-cid="1364986452">
            
    
        <div class="avatar">
            <a title="基本是我" href="https://www.douban.com/people/4290435/">
                <img src="https://img1.doubanio.com/icon/u4290435-7.jpg" class="" />
            </a>
        </div>
    <div class="comment">
        <h3>
            <span class="comment-vote">
                <span class="votes">87</span>
                <input value="1364986452" type="hidden"/>
                <a href="javascript:;" class="j a_vote_comment" onclick="">有用</a>
            </span>
            <span class="comment-info">
                <a href="https://www.douban.com/people/4290435/" class="">基本是我</a>
                    <span>看过</span>
                    <span class="allstar30 rating" title="还行"></span>
                <span class="comment-time " title="2018-04-28 06:58:17">
                    2018-04-28
                </span>
            </span>
        </h3>
        <p class="">
            
                <span class="short">张一白的监制，果然有烂片趋势。但是全靠两位演员演技撑住了。剧情太矫情了，如果奶茶的师父张艾嘉接住了大陆的地气，那奶茶可能是女性鸡汤公众号里的10W＋文章里认识的大陆。太作，太矫情，太不接地气。但是鼓励一下，及格吧！</span>
        </p>
    </div>

        </div>
        
        <div class="comment-item" data-cid="1365050488">
            
    
        <div class="avatar">
            <a title="Lalio" href="https://www.douban.com/people/53918266/">
                <img src="https://img3.doubanio.com/icon/u53918266-5.jpg" class="" />
            </a>
        </div>
    <div class="comment">
        <h3>
            <span class="comment-vote">
                <span class="votes">2339</span>
                <input value="1365050488" type="hidden"/>
                <a href="javascript:;" class="j a_vote_comment" onclick="">有用</a>
            </span>
            <span class="comment-info">
                <a href="https://www.douban.com/people/53918266/" class="">Lalio</a>
                    <span>看过</span>
                    <span class="allstar10 rating" title="很差"></span>
                <span class="comment-time " title="2018-04-28 10:56:56">
                    2018-04-28
                </span>
            </span>
        </h3>
        <p class="">
            
                <span class="short">不是每个人都能做导演！刘若英你不是女文青么？怎么拍出的片子这么矫情俗烂。悲伤逆流成河式的对白，躺在书页上的这种句子我都看的反胃，刘若英竟然让男女主对白个不停。叙事手法也真的很装b，大学毕业生为什么会去做客服？对北漂一族的误解是不是太大了？2018最烂！张一白果然从不失手。</span>
        </p>
    </div>

        </div>
        
        <div class="comment-item" data-cid="1365364829">
            
    
        <div class="avatar">
            <a title="肖恩恩恩恩肖" href="https://www.douban.com/people/60599665/">
                <img src="https://img3.doubanio.com/icon/u60599665-40.jpg" class="" />
            </a>
        </div>
    <div class="comment">
        <h3>
            <span class="comment-vote">
                <span class="votes">54</span>
                <input value="1365364829" type="hidden"/>
                <a href="javascript:;" class="j a_vote_comment" onclick="">有用</a>
            </span>
            <span class="comment-info">
                <a href="https://www.douban.com/people/60599665/" class="">肖恩恩恩恩肖</a>
                    <span>看过</span>
                    <span class="allstar30 rating" title="还行"></span>
                <span class="comment-time " title="2018-04-28 22:58:02">
                    2018-04-28
                </span>
            </span>
        </h3>
        <p class="">
            
                <span class="short">6.5恰如其分了。剧本太一般，像缺氧版的lala land，让人在压抑中担心这个故事到哪口气会喘不上来。但表演却有8分，而表演分的80%又要归功给周冬雨。时灵时不灵的周冬雨，居然又一次，扛起了一部电影。。。</span>
        </p>
    </div>

        </div>
        
        <div class="comment-item" data-cid="1365328797">
            
    
        <div class="avatar">
            <a title="齐木楠雄" href="https://www.douban.com/people/1211567/">
                <img src="https://img3.doubanio.com/icon/u1211567-13.jpg" class="" />
            </a>
        </div>
    <div class="comment">
        <h3>
            <span class="comment-vote">
                <span class="votes">776</span>
                <input value="1365328797" type="hidden"/>
                <a href="javascript:;" class="j a_vote_comment" onclick="">有用</a>
            </span>
            <span class="comment-info">
                <a href="https://www.douban.com/people/1211567/" class="">齐木楠雄</a>
                    <span>看过</span>
                    <span class="allstar10 rating" title="很差"></span>
                <span class="comment-time " title="2018-04-28 22:00:08">
                    2018-04-28
                </span>
            </span>
        </h3>
        <p class="">
            
                <span class="short">哇，片方买预售然后大规模退票的新注水方式，厉害了</span>
        </p>
    </div>

        </div>
        
        <div class="comment-item" data-cid="1366046168">
            
    
        <div class="avatar">
            <a title="薇羅尼卡" href="https://www.douban.com/people/zishuiyilan/">
                <img src="https://img3.doubanio.com/icon/u1048262-16.jpg" class="" />
            </a>
        </div>
    <div class="comment">
        <h3>
            <span class="comment-vote">
                <span class="votes">37</span>
                <input value="1366046168" type="hidden"/>
                <a href="javascript:;" class="j a_vote_comment" onclick="">有用</a>
            </span>
            <span class="comment-info">
                <a href="https://www.douban.com/people/zishuiyilan/" class="">薇羅尼卡</a>
                    <span>看过</span>
                    <span class="allstar40 rating" title="推荐"></span>
                <span class="comment-time " title="2018-04-30 09:06:25">
                    2018-04-30
                </span>
            </span>
        </h3>
        <p class="">
            
                <span class="short">意料之外的好看，也真的被击中了，因为这就是年轻贫穷时的爱情的样子呀！出租屋的细节很真实，周冬雨还是很好，井柏然意外演技上线。那个时候错过的人，也就真的一辈子错过了吧。希望后来的我们，一切都好。</span>
        </p>
    </div>

        </div>
        
        <div class="comment-item" data-cid="1366491067">
            
    
        <div class="avatar">
            <a title="掉线" href="https://www.douban.com/people/ballteda/">
                <img src="https://img1.doubanio.com/icon/u45134592-68.jpg" class="" />
            </a>
        </div>
    <div class="comment">
        <h3>
            <span class="comment-vote">
                <span class="votes">35</span>
                <input value="1366491067" type="hidden"/>
                <a href="javascript:;" class="j a_vote_comment" onclick="">有用</a>
            </span>
            <span class="comment-info">
                <a href="https://www.douban.com/people/ballteda/" class="">掉线</a>
                    <span>看过</span>
                    <span class="allstar30 rating" title="还行"></span>
                <span class="comment-time " title="2018-04-30 23:39:59">
                    2018-04-30
                </span>
            </span>
        </h3>
        <p class="">
            
                <span class="short">【C】角色讲话跟念诗似的，日常里谁不说“我们后来”硬要倒装成“后来的我们”啊？还动不动对仗，多亏两位表演自然的青年演员才抹掉了电影很大一部分做作。情节都是没有真情实感的符号，真情实感时又太过刻意。本片最大意义，也就是为女大学生的朋友圈和微博又贡献了可搭配自拍的文案新素材。</span>
        </p>
    </div>

        </div>
        
        <div class="comment-item" data-cid="1365071659">
            
    
        <div class="avatar">
            <a title="LOOK" href="https://www.douban.com/people/2049622/">
                <img src="https://img3.doubanio.com/icon/u2049622-85.jpg" class="" />
            </a>
        </div>
    <div class="comment">
        <h3>
            <span class="comment-vote">
                <span class="votes">889</span>
                <input value="1365071659" type="hidden"/>
                <a href="javascript:;" class="j a_vote_comment" onclick="">有用</a>
            </span>
            <span class="comment-info">
                <a href="https://www.douban.com/people/2049622/" class="">LOOK</a>
                    <span>看过</span>
                    <span class="allstar10 rating" title="很差"></span>
                <span class="comment-time " title="2018-04-28 11:48:10">
                    2018-04-28
                </span>
            </span>
        </h3>
        <p class="">
            
                <span class="short">整个电影就是在贩卖一个个烂大街的概念，所有一切关于爱情的千回百转都是想当然的既定设计，都是卡拉OK五流流行歌曲的自我催眠，都是“应该”要被哭泣被幸福。没有任何一场戏能逃脱这个思路也是够可以的。最出戏的是田壮壮，那原汁原味的纯正北京味真是替哭着喊着要去北京的井柏然哭笑不得。零蛋。</span>
        </p>
    </div>

        </div>
        
        <div class="comment-item" data-cid="1364849704">
            
    
        <div class="avatar">
            <a title="uncanny1993" href="https://www.douban.com/people/59720240/">
                <img src="https://img3.doubanio.com/icon/u59720240-6.jpg" class="" />
            </a>
        </div>
    <div class="comment">
        <h3>
            <span class="comment-vote">
                <span class="votes">806</span>
                <input value="1364849704" type="hidden"/>
                <a href="javascript:;" class="j a_vote_comment" onclick="">有用</a>
            </span>
            <span class="comment-info">
                <a href="https://www.douban.com/people/59720240/" class="">uncanny1993</a>
                    <span>看过</span>
                    <span class="allstar50 rating" title="力荐"></span>
                <span class="comment-time " title="2018-04-27 21:53:00">
                    2018-04-27
                </span>
            </span>
        </h3>
        <p class="">
            
                <span class="short">今天看的点映，真的非常好看，简直满分。刘若英第一次导演就有这么好的作品，真的让人喜出望外。</span>
        </p>
    </div>

        </div>






        <div id="paginator" class="center">
                <a href="?start=0&amp;limit=20&amp;sort=new_score&amp;status=P&amp;percent_type=" data-page="1"><< 首页</a>
                <a href="?start=39&amp;limit=-20&amp;sort=new_score&amp;status=P&amp;percent_type=" data-page="">< 前页</a>
                <a href="?start=60&amp;limit=20&amp;sort=new_score&amp;status=P&amp;percent_type=" data-page="" class="next">后页 ></a>
        </div>



<script type="text/javascript" src="https://img3.doubanio.com/f/shire/a14501790b4a2db257dc5be5e37d820e600703c6/js/report_dialog.js"></script>
<link rel="stylesheet" type="text/css" href="https://img3.doubanio.com/f/shire/b45aa277f8b8df40596b96582dafb1ed0a899a64/css/report_dialog.css" />




        
        
    </div>

            </div>
            <div class="aside">
                

    
<p class="pl2">&gt; <a href="https://movie.douban.com/subject/26683723/">去 后来的我们 的页面</a></p>

    <div class="indent">
        









<div class="movie-summary">
        <div class="movie-pic"><a  href="https://movie.douban.com/subject/26683723/" ><img alt="后来的我们" title="后来的我们" src="https://img1.doubanio.com/view/photo/s_ratio_poster/public/p2519994468.jpg" rel="v:image" width="100px"></a></div>
    <span class="attrs">
        
            
        <p>
            <span class="pl">导演:</span>
                <a  href="https://movie.douban.com/celebrity/1041007/">刘若英</a>
        </p>

        
            
        <p>
            <span class="pl">主演:</span>
                <a  href="https://movie.douban.com/celebrity/1274628/">井柏然</a> / <a  href="https://movie.douban.com/celebrity/1274224/">周冬雨</a> / <a  href="https://movie.douban.com/celebrity/1274287/">田壮壮</a> / <a  href="https://movie.douban.com/celebrity/1355411/">曲哲明</a> / <a  href="https://movie.douban.com/celebrity/1358221/">刘启恒</a> / <a  href="https://movie.douban.com/celebrity/1275538/">苏小明</a> / <a  href="https://movie.douban.com/celebrity/1318927/">邹倚天</a> / <a  href="https://movie.douban.com/celebrity/1374201/">张子贤</a> / <a  href="https://movie.douban.com/celebrity/1314249/">施予斐</a> / <a  href="https://movie.douban.com/celebrity/1392358/">李剑青</a>
        </p>

        
            
        <p>
            <span class="pl">类型:</span>
                剧情, 爱情
        </p>

        
            
        <p>
            <span class="pl">地区:</span>
                中国大陆
        </p>

        
            
        <p>
            <span class="pl">片长:</span>
                120分钟
        </p>

        
            
        <p>
            <span class="pl">上映:</span>
                2018-04-28(中国大陆)
        </p>

        <a  class="trail_link" data-trailer-id="230311" href="https://movie.douban.com/trailer/230311/#content" >预告片</a>
    </span>
</div>



    </div>
    <div id="dale_movie_subject_comments_bottom_right"></div>
    <a href="https://help.douban.com/blackroom">> 豆瓣违规公示</a>

            </div>
            <div class="extra">
                
            </div>
        </div>
    </div>

        
    <div id="footer">
            <div class="footer-extra"></div>
        
<span id="icp" class="fleft gray-link">
    &copy; 2005－2019 douban.com, all rights reserved 北京豆网科技有限公司
</span>

<a href="https://www.douban.com/hnypt/variformcyst.py" style="display: none;"></a>

<span class="fright">
    <a href="https://www.douban.com/about">关于豆瓣</a>
    · <a href="https://www.douban.com/jobs">在豆瓣工作</a>
    · <a href="https://www.douban.com/about?topic=contactus">联系我们</a>
    · <a href="https://www.douban.com/about/legal">法律声明</a>
    
    · <a href="https://help.douban.com/?app=movie" target="_blank">帮助中心</a>
    · <a href="https://www.douban.com/doubanapp/">移动应用</a>
    · <a href="https://www.douban.com/partner/">豆瓣广告</a>
</span>

    </div>

    </div>
    <script type="text/javascript" src="https://img3.doubanio.com/misc/mixed_static/6561ddd500fc312d.js"></script><script type="text/javascript">

        $.each($("#comments:not('.sns-comments') .comment-item ".concat('.comment')), function(i, el){
            if ($(el).find(".comment-report").length==0){
              $(el).append('<div class="comment-report"><a rel="nofollow" href="javascript:void(0)">举报</a></div>');
            }
        });

        $('#comments').on('click', '.a_vote_comment',function(e){
            e.stopImmediatePropagation()
            var is_released = true,
                txt_released = "该电影还未上映，不能投票噢";

            if(!is_released && "P" === 'P') {
                alert(txt_released)
                return
            }
            var v = $(this).prev().prev(), id = $(this).prev().val();
            $.postJSON_withck('/j/comment/vote', {id: id}, function(r){
                if (r.r === 0 && r.count) {
                    v.text(r.count);
                } else if (r.r === 1) {
                    alert(r.msg);
                }
            })
        });

        window.percent_type = "";
        window.page_start = 40;
        window.page_limit = 20;
        window.page_status = "P";
        window.page_sort = "new_score";
        window.lastCommentsXhr = null;

        $(".comment-filter input[type='radio']").click(function(e){
            if($(this).val() === window.percent_type) return;
            if($('.comment-filter').data('doing')) {
                e.preventDefault();
                return;
            };

            window.percent_type = $(this).val();
            window.page_start = 0;
            updateUrl();

            $('.comment-filter').data('doing', true);
            $("#comments").html('<div class="comment-loading">载入中...</div>');
            $('#comments .comment-item').remove();

            updateComments();
        });

        $('#comments').delegate('#paginator a', 'click', function(e){
            e.preventDefault();

            if($(this).text().indexOf('首') !== -1){
                window.page_start = 0;
            }else if($(this).text().indexOf('前') !== -1){
                window.page_start -= window.page_limit;
            }else{
                window.page_start += window.page_limit;
            }

            window.page_start = window.page_start < 0 ? 0 : window.page_start;

            updateUrl();

            $('.comment-filter').data('doing');
            $("#comments").html('<div class="comment-loading">载入中...</div>');

            updateComments();
        });

        function updateComments(){
            window.lastCommentsXhr && window.lastCommentsXhr.abort();
            var url = '/subject/26683723/comments' + createUrlSearch() + '&comments_only=1';
            window.lastCommentsXhr = $.get(url, function(res){
                if(res.r === 0){
                    $("#comments").html(res.html);
                    $('.comment-filter').removeData('doing');
                    $('.comment-filter').get(0).scrollIntoViewIfNeeded();
                }
            })
        }

        function createPageState(){
            return {
                percent_type: window.percent_type,
                start: window.page_start,
                limit: window.page_limit,
                sort: window.page_sort,
                status: window.page_status
            }
        }

        function createUrlSearch(){
            return '?start=' + window.page_start + '&limit=' + window.page_limit + '&sort=' + window.page_sort + '&status=' + window.page_status + (window.percent_type ? '&percent_type=' + window.percent_type : '');
        }

        function updateUrl(){
            window.history && window.history.pushState(createPageState(), null, createUrlSearch());
        }

        window.onpopstate = function(e){
            var pageState = e.state;
            window.percent_type = pageState.percent_type;
            window.page_start = pageState.start;
            window.page_limit = pageState.limit;
            window.page_sort = pageState.sort;
            window.page_status = pageState.status;
            $("#comments").html('<div class="comment-loading">载入中...</div>');
            $('.comment-filter input[value="' + window.percent_type + '"]').get(0).checked = true;
            updateComments();
        }
    </script>
    
    




    
<script type="text/javascript">
    (function (global) {
        var newNode = global.document.createElement('script'),
            existingNode = global.document.getElementsByTagName('script')[0],
            adSource = '//erebor.douban.com/',
            userId = '191266139',
            browserId = 'Qn9h-IC7gEU',
            criteria = '3:/subject/26683723/comments?start=40&amp;limit=20&amp;sort=new_score&amp;status=P',
            preview = '',
            debug = false,
            adSlots = ['dale_movie_subject_comments_bottom_right'];

        global.DoubanAdRequest = {src: adSource, uid: userId, bid: browserId, crtr: criteria, prv: preview, debug: debug};
        global.DoubanAdSlots = (global.DoubanAdSlots || []).concat(adSlots);

        newNode.setAttribute('type', 'text/javascript');
        newNode.setAttribute('src', 'https://img3.doubanio.com/f/adjs/b2a623018cd76036bb32ad74c28ea231fb2aa462/ad.release.js');
        newNode.setAttribute('async', true);
        existingNode.parentNode.insertBefore(newNode, existingNode);
    })(this);
</script>










    

    
  









<script type="text/javascript">
var _paq = _paq || [];
_paq.push(['trackPageView']);
_paq.push(['enableLinkTracking']);
(function() {
    var p=(('https:' == document.location.protocol) ? 'https' : 'http'), u=p+'://fundin.douban.com/';
    _paq.push(['setTrackerUrl', u+'piwik']);
    _paq.push(['setSiteId', '100001']);
    var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
    g.type='text/javascript';
    g.defer=true;
    g.async=true;
    g.src=p+'://img3.doubanio.com/dae/fundin/piwik.js';
    s.parentNode.insertBefore(g,s);
})();
</script>

<script type="text/javascript">
var setMethodWithNs = function(namespace) {
  var ns = namespace ? namespace + '.' : ''
    , fn = function(string) {
        if(!ns) {return string}
        return ns + string
      }
  return fn
}

var gaWithNamespace = function(fn, namespace) {
  var method = setMethodWithNs(namespace)
  fn.call(this, method)
}

var _gaq = _gaq || []
  , accounts = [
      { id: 'UA-7019765-1', namespace: 'douban' }
    , { id: 'UA-7019765-19', namespace: '' }
    ]
  , gaInit = function(account) {
      gaWithNamespace(function(method) {
        gaInitFn.call(this, method, account)
      }, account.namespace)
    }
  , gaInitFn = function(method, account) {
      _gaq.push([method('_setAccount'), account.id]);
      _gaq.push([method('_setSampleRate'), '5']);

      
  _gaq.push([method('_addOrganic'), 'google', 'q'])
  _gaq.push([method('_addOrganic'), 'baidu', 'wd'])
  _gaq.push([method('_addOrganic'), 'soso', 'w'])
  _gaq.push([method('_addOrganic'), 'youdao', 'q'])
  _gaq.push([method('_addOrganic'), 'so.360.cn', 'q'])
  _gaq.push([method('_addOrganic'), 'sogou', 'query'])
  if (account.namespace) {
    _gaq.push([method('_addIgnoredOrganic'), '豆瓣'])
    _gaq.push([method('_addIgnoredOrganic'), 'douban'])
    _gaq.push([method('_addIgnoredOrganic'), '豆瓣网'])
    _gaq.push([method('_addIgnoredOrganic'), 'www.douban.com'])
  }

      if (account.namespace === 'douban') {
        _gaq.push([method('_setDomainName'), '.douban.com'])
      }

        _gaq.push([method('_setCustomVar'), 1, 'responsive_view_mode', 'desktop', 3])

        _gaq.push([method('_setCustomVar'), 2, 'login_status', '1', 2]);

      _gaq.push([method('_trackPageview')])
    }

for(var i = 0, l = accounts.length; i < l; i++) {
  var account = accounts[i]
  gaInit(account)
}


;(function() {
    var ga = document.createElement('script');
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    ga.setAttribute('async', 'true');
    document.documentElement.firstChild.appendChild(ga);
})()
</script>








      
    

    <!-- anson12-docker-->

  <script>_SPLITTEST=''</script>
</body>

</html>


